body{
    margin: 0;
    padding: 0;
    background: url(/static/feedbackbackground.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    width:  700px;
    right: calc(10% );
    left: 50%;
    padding: 450px 20px;
    top: 100%;    
    
    
    
}
.creatnewaccount{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.driverloginbox{
    width:  300px;
    height: 500px;
    background: gold;
    color: black;
    top: 40%;
    left: 20%;
    position: absolute;
   transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 50px;
    opacity: 0.9  ; 


}
.login{
    width: 630px;
    height: 700px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    top: 40%;
    left: 690%;
}
.h1{
    color: darkgoldenrod;
}