body{
    margin: 0;
    padding: 80;
    background: url(/static/services.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    width:  280px;
    /* height: 1400px; */
    right: calc(10% );
    left: 50%;
    padding: 450px 20px;
    top: 100%;    
}

.driversignupbox{
    width:  440px;
    height: 400px;
    background: darkgoldenrod;
    color: black;
    top: 55%;
    left: 62%;
    position: absolute;
   transform: translate(-40%,-40%);
    box-sizing: border-box;
    padding: 40px 65px;
    opacity: 0.9; 

}