<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>cbrm</title>


  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              CABIFY
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('feedback')}}">Feedback</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- FEEDBACK section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Current Booking<br>
        </h2>
      </div>
      <p>In today's fast-paced world, efficient transportation is crucial for individuals to navigate their daily routines conveniently. One such mode of transportation that has gained immense popularity and utility is the taxi service. This article aims to provide a comprehensive overview of taxi services, focusing on their current booking system, specifications, advantages, and the importance they hold for users.</p>
      <p>Online Booking: Our CABIFY services now offer online platforms that allow users to book a taxi conveniently from their smartphones or computers.</p>
      <p>Fleet Diversity: Our taxi services typically maintain a diverse fleet of vehicles to cater to various user preferences and needs, ranging from sedans and SUVs to luxury cars.</p>
      <p>Safety Measures: Our taxis are equipped with safety features like seatbelts, and often undergo regular maintenance checks to ensure passenger safety.</p>
      <p>Convenience: Our taxi services offer unparalleled convenience as users can avail themselves of a ride anytime, anywhere, eliminating the hassle of waiting for public transportation or finding parking spaces.</p>
      <p>Time Efficiency: Our taxis provide a time-efficient mode of transport, especially in crowded cities or during peak hours, as drivers are experienced in navigating through traffic and taking alternative routes.</p>
      <p>Door-to-Door Service: Our taxis offer door-to-door service, saving users from the inconvenience of carrying heavy luggage or walking long distances to reach their destination.</p>
      <p>Flexibility: Our taxi services allow users to have user friendly online platform.</p>
      <p>Taxi services have revolutionized the way people commute, offering convenience, efficiency, and a range of benefits for users. With their current booking systems, diverse specifications, and advantages, taxi services have become an indispensable part of modern transportation. Whether for daily commutes, special occasions, or travel needs, taxis continue to serve as a reliable and user-friendly mode of transport, ensuring comfort, safety, and accessibility for passengers worldwide.</p>


    </div>
    
          </div>
        </div>
                 </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; all rights are reserved by CABIFY
      </p>
    </div>
  </section>
  <!-- footer section -->

</body>

</html>