<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>do's and don'ts</title>


  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              CABIFY
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('feedback')}}">Feedback</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- FEEDBACK section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          DO'S and DONT'S<br>
          <!-- form -->
        </h2>
      </div>
    </div>



    <h5>do's</h5>
<p>
<!-- <li>Always enter your drop location while booking the ride.</li> -->
<li>Always enter your drop location while booking the ride</li>
<li>Verify your driver and car details on the cabify website before boarding the cab</li>
<li>Opt for the back seat to maintain personal space between you and the driver</li>
<li>Always insist that the driver follows the navigation as shown on the driver website</li>
<li>Share your ride details with your loved ones</li>
<li>Ensure that you have added your Emergency Contacts on our cabify website</li>
<li>Always raise an alert by pressing the Emergency Button on your cabify website in case of emergency</li>
<li>Always be alert to your surroundings and the route</li>
</p>

<h5>don'ts</h5>
<p>
    <li>Don’t engage in short talks or personal conversations with the driver</li>
    <li>Don’t share any personal information with the driver</li>
    <li>Don’t allow the driver to take a detour from the route or make unexpected stops</li>
    <li>Don’t sleep in the cab when traveling alone</li>
    <li>Don’t engage in an argument with the driver. In case of any disagreement, reach out to our cabify Support for help</li>
</p>




    
          </div>
        </div>
        
      </div>
    </div>
  </section>

        </div>
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; all rights are reserved by CABIFY
      </p>
    </div>
  </section>
  <!-- footer section -->

</body>

</html>