<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../static/driverhomepage.css" type="text/css">
    <title>driverhomepage</title>
</head>
<frameset rows="7%,*" frameborder="yes" border="3" bordercolor="black">
    <frame src="/title" name="title">
        <frameset cols="10%,*" frameborder="yes" border="3" bordercolor="black">
    <frame src="/link" name="link">
            <frame src="/main" name="main">
</frameset>




</html> 