<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../static/driverdetails.css" type="text/css">
    <title>driver details</title>
</head>
<body>
    <h1>Booking details</h1>
    <div style="position: fixed;">
    <table border="2">
        <tr>
            <th>sl.no</th>
            <th>Date</th>
            <th>Time</th>
            <th>no of bookings</th>
            <th>no of cancellation</th>
        </tr>
    </div>
    </body>

</html>