<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/static/driverpagelayout.css">
</head>
<body class="settings">


    <div class="topbar">
        <h1><i class="fa-solid fa-taxi"></i> CABIFY</h1>
      </div>
  <div class="sidebar" id="sidebar">
    <ul>
      <br>
      <a href="/driverhomepage"> <li>Home</li></a>
      <a href="/driverprofile"><li>Profile</li></a>
      <a href="/driverridehistory"><li>Ride History</li></a>
      <a href="/userdetails"><li>Ride History</li></a>
      <a href="/driversettings"><li>Settings</li></a>
      <a href="/driverlogout"><li>Logout</li></a>
  </ul>
  </div>
  <div class="menu-toggle" id="menu-toggle"><p style="padding: 0%;margin: 0%;" > <i class="fa-solid fa-bars"></i> Info</p> </div>

  <div class="content">
  </div>
  


  <script src="/static/js/driverpagelayout.js">
    
  </script>
  
</body>
</html>
