<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/link.css" type="text/css">
    <title>link</title>
</head>
<body bgcolor="black">
<!-- <div id="navigation">
    <div id="menu" on click="onclickmenu()">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
    </div>
    <ul class="nav" id="nav">
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">details</a></li>
        <li><a href="#">contact</a></li>
    </ul>
</div>
 <script src="js/script.js"></script> -->



 <div>
    <div id="navigation">
        <div id="menu" on click="onclickmenu()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>

        
        <!-- <input type="onclick" name="onclick" id="check" onclick="enabled()" value="default" ><br>
        <i class="fa-solid fa-list"></i> -->
        <!-- <button disabled="true" id="btn">status</button> -->

   <button><i class="fa-solid fa-user"></i> INFO</button><br><br>
   <a href="/main" class="whitecolor" target="main"><i class="fa-solid fa-house-user"></i> Home</a><br><br>
    <a href="/driverprofile"  class="whitecolor" target="main"><i class="fa-solid fa-user"></i> profile</a><br><br>
    <a href="/driverform" class="whitecolor" target="main"><i class="fa-solid fa-clipboard-list"></i>  Update</a><br><br>
    <a href="/userdetails" class="whitecolor" target="main"><i class="fa-sharp fa-solid fa-address-card"></i> user details</a><br><br>
    <a href="/driverdetails"  class="whitecolor" target="main"><i class="fa-solid fa-circle-info"></i> driver details</a><br><br>
    <a href="/logout" class="whitecolor" target="main"><i class="fa-solid fa-power-off"></i> logout</a><br><br>

</div>
</body>
</html>


