<html>
    <head>
        <title>Login Form Design</title>
        <!-- <link rel="stylesheet"  href="../static/css/ulogin.css" type="text/css"> -->
        <body background="/static/image/Login.jpg">
            <div class="loginbox">
                <img src="/static/img/login_1.png" class="login">
                <h1>Login Here</h1>
                <form action="" method="post">
                    <p>Username</p>
                    <input type="text" name="username" placeholder="Enter your Username">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter your Password">
                    <input type="Submit" name="" value="Login">
                   
                    <a href="/register">Create New Account?</a><br>
                    <a href="/">Home page</a>
                </form>
                
            </div>

        </body>
    </head>
</h>