<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/usermain.css">
    <link rel="stylesheet" href="/static/js/usermain.js">
    <title>usermain</title>
</head>
<body>
    <h1>hello</h1>
    <button class="btn"><i class="fa fa-bars"></i></button> 
    <button class="btn"><i class="fa fa-bars"></i></button> <br>
    <button class="btn"><i class="fa fa-bars"></i></button>

    this is the page after login 
 
</body>
</html>