<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body background="/static/images/cab3.png">
   
<div style="margin-left: 235px;  margin-top: 123px; ">
    <a href="/userlogin"><button>USER</button></a>
</div>

<div style="margin-left: 880px; margin-top: -18px; ">
    <a href="{{url_for('driverindex')}}"><button>DRIVER</button></a>

</div>
</body>
</html>